// Fonts
$bold: 'Nunito Sans Bold', sans-serif;
$regular: 'Nunito Sans Regular', sans-serif;

// Primary Colours
$primaryDark: #154d69;
$primary: #145374;
$primaryLight: #5588a3;
$primaryXLight: #93b3c8;
$greyXXLight: #f6f6f6;
$greyXXXLight: #f1f1f1;
$primaryPastelDark: #e6ebee;
$primaryPastel: #e4ecf1;
$primaryPastelLight: #cddfeb;

// Secondary Colours
$secondaryDark: #376472;
$secondary: #5c9ead;
$secondaryLight: #85b6c1;
$secondaryXLight: #9cc5ce;
$secondaryPastel: #e7f0f3;

// Shades
$black: #000000;
$greyXDark: #333333;
$greyDark: #b8b8b8;
$grey: #c6c6c6;
$greyLight: #dddddd;
$greyXLight: #e8e8e8;
$white: #ffffff;

// Success Colours
$success: #27ae60;

// Alert Colours
$alertDark: #c91818;
$alert: #eb5757;
$alertLight: #f39195;
$alertXLight: #ffafaf;
$alertPastel: #f7b6b6;
$alertPastelLight: #fdeeee;

// Disabled Colours
$disabled: #dddddd;
$disabledDark: #888888;

// Section Colours
$headerBackground: $primary;
$footerBackground: $primary;
$mainBackground: $greyXXXLight;
